body {
    width: 100vw;
    height: 98vh;
    padding: 0; 
    margin: 0; 
    
    background-color: #f6f7f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 61.8%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar-item {
    margin: 1%;
    padding: 0.5% 1%;
    
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-weight: bold;
    font-size: 15px;
    
    color: #322c28;
    text-align: center;
    text-decoration: none;
}

.navbar-item:hover {
    color: #fcfaf2;
    background-color: #0c0c0c;
    border-radius: 6px;
}

main {
    width: 78.2%;
    height: 61.8%;
    
    border-radius: 20px;
    background-color: #fcfaf2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign {
    width: 100%;
    padding-top: 32%;
    max-height: 50%;
    background: url("../assets/images/sprite-sign.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

footer {
    width: 38.2%;
}

#copyright {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: smaller;
    color: #322c28;
}
